<html>
    <head>
        <meta charset='utf-8'>
        <title> <%=recipeName%> </title>
    </head>
    <body>
        <br>
        <h1> <%=recipeName%> </h1>
        <h3> Recipe by <%=author%> </h3>
        <h4> Originally from <%=source%> </h4>
        <br>
        <h4> Difficulty: <%=difficulty%> | Yield: <%=yield%> </h4>
        <br>
        <h3> Total Time: <%=totalTime%> </h3>
        <% if (activeTime) {%>
            <h4> <%=activeTime%> active time <h4>
        <% } %>
        <% if (inactiveTime) {%>
            <h4> <%=inactiveTime%> inactive time <h4>
        <% } %>
        <% if (cookTime) {%>
            <h4> <%=cookTime%> cook time <h4>
        <% } %>
        <br>
    </body>
</html>